# Core
gunicorn # [gevent] # Uses [extra] syntax to get gevent (optional) package
# libevent>=2.1.8 # Required for gevent workers
# gevent # If using gevent workers in Docker file
dash==2.15.0

# Additional
numpy==1.24.1
pandas==2.0.3
dash-bootstrap-components==1.5.0
dash-bootstrap-templates==1.1.1
plotly==5.15.0
scikit-learn==1.5.0
kaleido==0.2.1
simplejson==3.16.0 # Unsure if this is causing error JW 7/02/2024
