/* For screens with width greater than a landscape orientation iPad */
@media (min-width: 1101px) {
    .primary_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .tips {
        width: 25%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .nuclear_chart {
        width: 50%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .levels_and_images {
        width: 25%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
}

@media (min-width: 1101px) {
    .secondary_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .submission_links {
        width: 25%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .submission_notes {
        width: 75%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
}

/* For screens with width between a portrait orientation iPad and a landscape orientation iPad */
@media (max-width: 1101px) and (min-width: 900px) {
    /* .primary_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    } */
    .tips {
        width: 50%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .nuclear_chart {
        width: 50%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .levels {
        width: 50%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .images {
        width: 50%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
}

@media (max-width: 1101px) and (min-width: 900px) {
    .secondary_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .submission_links {
        width: 25%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .submission_notes {
        width: 75%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
}

/* For screens with a width less than 600px */
@media (max-width: 900px) {
    .nuclear_chart {
        width: 100%; /* Adjust the width as needed */
    }
    .tips {
        width: 100%; /* Adjust the width as needed */
    }
    .levels {
        width: 100%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
    .images {
        width: 100%; /* Adjust the width as needed */
        display: inline-block; /* Display as inline block */
    }
}

@media (max-width: 900px) {
    .submission_links {
        width: 100%; /* Adjust the width as needed */
    }
    .submission_notes {
        width: 100%; /* Adjust the width as needed */
    }
}
